{% extends "meu_app/base.html" %}

{% block title %}adicionar produto{% endblock %}

{% block conteudo %}

{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href={% static "meu_app/css/form_produto.css" %}>

<h2>Adicionar Produto</h2>

<div class="form-container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Adicionar</button>
        <a href="{% url 'lista_produtos' %}">Cancelar</a>
    </form>
</div>
{% endblock %}
