<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Meu Site{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'meu_app/css/base.css' %}" />
  </head>
  <body>
    <div class="header-container">
      <header>
        <div class="logo">
          <img src="{% static 'meu_app/images/logo.png' %}" alt="Logo" class="logo"/>
        </div>
        <nav class="navbar">
          <a href="{% url 'index' %}">Início</a>
          <a href="{% url 'sobre' %}">Sobre</a>
          <a href="{% url 'contatos' %}">Contato</a>
          <a href="{% url 'lista_produtos' %}">Produtos</a>
        </nav>
      </header>
    </div>

    <main>
      {% block conteudo %}
      <!-- Conteúdo -->
      {% endblock %}
    </main>

    <footer>&copy; {{ now|date:"Y" }} Todos os direitos reservados.</footer>
  </body>
</html>
