<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}miles{% endblock %}</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'meu_app/css/base.css' %}" />
    <link rel="shortcut icon" href="{% static 'meu_app/logos/favicon.ico' %}" type="image/x-icon">
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <div class="header-container">
      <header>
        <div class="logo">
          <a href="{% url 'index' %}"><img src="{% static 'meu_app/logos/logooval.png' %}" alt="Logo" class="logo"/></a>
        </div>
        <nav class="navbar">
          <a href="{% url 'index' %}">INÍCIO</a>
          <a href="{% url 'sobre' %}">SOBRE</a>
          <a href="{% url 'contatos' %}">CONTATOS</a>
          <a href="{% url 'lista_produtos' %}">PRODUTOS</a>
        </nav>
      </header>
    </div>

    <main>
      {% block conteudo %}
      <!-- Conteúdo -->
      {% endblock %}
    </main>

    <footer>
      &copy; {{ now|date:"Y" }} Todos os direitos reservados. 
    </footer>
  </body>
</html>
