{% extends "meu_app/base.html" %}

{% block title %}miles{% endblock %}

{% block conteudo %}
{% load static %}

<link rel="stylesheet" href="{% static 'meu_app/css/index.css' %}">

    <div class="grid">
        <div class="camisas">
            <img src="{% static 'meu_app/images/camisa1.png' %}" alt="camisa goblin azul">
            <p>Blue Miles Goblin - R$ 159,99</p>
        </div>
        <div class="camisas">
            <img src="{% static 'meu_app/images/camisa2.png' %}" alt="camisa goblin preto">
            <p>Black Miles Goblin - R$ 159,99</p>
        </div>
        <div class="camisas">
            <img src="{% static 'meu_app/images/camisa3.png' %}" alt="camisa goblin branco">
            <p>White Miles Goblin - R$ 159,99</p>
        </div>
        <div class="camisas">
            <img src="{% static 'meu_app/images/camisa4.png' %}" alt="camisa oval preto">
            <p>Black Miles Oval - R$ 159,99</p>
        </div>
        <div class="camisas">
            <img src="{% static 'meu_app/images/camisa5.png' %}" alt="camisa sketch branco">
            <p>White Miles Sketch - R$ 159,99</p>
        </div>
        <div class="camisas">
            <img src="{% static 'meu_app/images/camisa6.png' %}" alt="camisa bora preto">
            <p>Black Miles Bora 2008 - R$ 159,99</p>
        </div>
    </div>
{% endblock %}
