@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

.add-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

button {
  background-color: #8b8b8b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Instrument Sans", sans-serif;
  transition: background-color 0.3s, transform 0.4s;
}

button:hover {
  background-color: #797979;
}

button:active {
  transform: scale(0.95);
}

main {
  max-width: 900px;
  margin: 20px auto 40px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

main table {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  font-size: 18px;
}

main thead {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

main th,
main td {
  padding: 12px 15px;
  text-align: center;
}

main tbody tr:nth-child(even) {
  background-color: #ffffff;
}

main tbody tr:hover {
  background-color: #ffffffee;
}

main a {
  text-decoration: none;
  color: #333;
  transition: color 0.2s;
}

main a:hover {
  color: #838383;
}

main td[colspan="2"] {
  text-align: center;
  color: #888;
}

@media (max-width: 768px) {
  main {
    max-width: 100%;
    margin: 10px auto;
    padding: 10px;
    margin-top: 100px;
  }

  .table-responsive {
    overflow-x: auto;
    width: 100%;
    margin: 10px 0;
  }

  main table {
    width: auto;
    min-width: 600px;
    overflow-x: auto;
    display: table;
    display: block;
    white-space: nowrap;
  }

  main th,
  main td {
    white-space: nowrap;
  }

  .add-container {
    width: 100%;
    margin: 20px 0;
  }
}
